azure-ai-formrecognizer
azure-common
azure-search-documents
bitsandbytes
boto3
bs4
datasets==2.14.3
faiss-cpu==1.7.4
farm-haystack
flask
google-auth
google-cloud-aiplatform==1.39.0
guidance
gunicorn
huggingface-hub==0.22.2
keybert
keyphrase-vectorizers
langchain
langchain-aws
langchain-community
langchain-openai
langchain-text-splitters
langgraph
lm-format-enforcer
loralib
moviepy
nltk
openai
openpyxl
opensearch-py
peft
protobuf
pydantic
pyenchant
pytest
requests
sentence-transformers
text-generation
tiktoken
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers
youtube-search