torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
boto3
bs4
bitsandbytes
datasets==2.14.3
faiss-cpu==1.7.4
farm-haystack
flask
google-auth
google-cloud-aiplatform==1.39.0
gunicorn
huggingface-hub
keybert
keyphrase-vectorizers
langchain
loralib
nltk
openai
openpyxl
peft
protobuf
pydantic
pyenchant
pytest
requests
sentence-transformers
text-generation
tiktoken
transformers