torch
torchvision
torchaudio
boto3
bs4
bitsandbytes
datasets
faiss-cpu
farm-haystack
flask
google-auth
google-cloud-aiplatform
gunicorn
huggingface-hub
keybert
keyphrase-vectorizers
langchain
loralib
nltk
openai
openpyxl
peft
protobuf
pydantic
pyenchant
pytest
requests
sentence-transformers
text-generation
tiktoken
transformers