paddleocr
boto3
datasets==2.20.0
faiss-cpu==1.7.4
google-auth
google-cloud-aiplatform==1.39.0
huggingface-hub
keybert
langchain
langchain-aws
langchain-community
langchain-openai
langchain-text-splitters
lm-format-enforcer
nltk
openai
peft
PyMuPDF
pytest
text-generation
tiktoken
fuzzywuzzy
jsonpickle
seaborn
pandasql
pyjarowinkler
xlrd


--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
