boto3
datasets==2.14.3
faiss-cpu==1.7.4
google-auth
google-cloud-aiplatform==1.39.0
huggingface-hub
keybert
keyphrase-vectorizers
langchain
langchain-aws
langchain-community
langchain-openai
langchain-text-splitters
lm-format-enforcer
nltk
openai
peft
protobuf
pydantic
PyMuPDF
pytest
requests
sentence-transformers
text-generation
tiktoken
torch
torchaudio
torchvision
transformers
fuzzywuzzy
jsonpickle
numpy
seaborn
matplotlib
scikit-learn
pandas
paddleocr
pandasql
pyjarowinkler
xlrd